/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa; /* Màu nền xám nhạt nhẹ nhàng */
}

#root {
  width: 100%;
}